    h1 {
        color: lime;
    }
    h2{
        color: gold;
    }
    h3{
        color: aqua;
    }

    * {
        border: solid;
    }
    .familyphoto{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;

    }
    .row{
        display: flex;
        text-align: center;

    }
    .row2{
        display: flex;
        text-align: center;
        justify-content: space-evenly;

    }
    .center{
        text-align: center;
    }